.form {
  max-width: 988px;
  &__quote {
    padding: 16px;
    background: #F5F5F6;
    border-radius: 3px;
  }
  &__title {
    
  }
  &__inputbtn {
    input {
      
    }
    label {
      
    }
    button {

    }
  }
  &__popup {

  }
}