.form {
  max-width: 988px;
  &__quote {
    padding: 16px;
    background: #F5F5F6;
    border-radius: 3px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #78798A;
    margin-bottom: 18px;
    p {
      margin-bottom: 0;
      font-size: 16px;
      line-height: 19px;
    }
    a {
      display: inline-flex;
      align-items: center;
      padding: 16px;
      border: 1px solid #EBECEE;
      border-radius: 3px;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
      transition: 0.3s;
      white-space: nowrap;
      svg {
        margin-right: 16px;
        fill: #000;
        transition: 0.3s;
        flex-shrink: 0;
      }
      &:hover {
        background-color: #000;
        color: #fff;
        svg {
          fill: #fff;
        }
      }
    }
    &--btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        max-width: 500px;
        margin-right: 20px;
      }
    }
  }
  &__title {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #000;
    margin-bottom: 42px;
  }
  &__inputbtn {
    display: flex;
    margin-bottom: 32px;
    .lk__input {
      flex-grow: 1;
    }
    input {
    }
    label {
      
    }
    button {
      margin-left: 16px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  &__popup {
    display: inline-block;
    padding: 33px 32px;
    background: #F1FFF4;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    color: #51B767;
    line-height: 17px;
  }
  .lk__textarea {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  &__date {
    height: 1px;
    background-color: #EBECEE;
    font-weight: 500;
    position: relative;
    margin-top: 83px;
    margin-bottom: 48px;
    span {
      display: block;
      background-color: #fff;
      padding: 0 16px;
      position: absolute;
      top: -9px;
      left: 50%;
      transform: translate(-50%,0);
    }
  }
  &__messages {
    max-height: 360px;
    overflow-y: auto;
  }
  &__messages-inner {
    padding-right: 20px;
  }
  &__message {
    margin-bottom: 32px;
    padding-left: 12px;
    span {
      display: inline-block;
      max-width: 90%;
      padding: 20px 34px;
      border-radius: 0 3px 3px 3px;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 0;
        left: -12px;
      }
    }
    &--out {
      span {
        background-color: #F5F5F6;
        &:after {
          background: linear-gradient(to left bottom, #F5F5F6 50%, #fff 51%);
        }
      }
    }
    &--in {
      text-align: right;
      span {
        background-color: #FFEAC2;
        &:after {
          background: linear-gradient(to left bottom, #FFEAC2 50%, #fff 51%);
        }
      }
    }
  }
  &__container {
    max-width: 484px;
    .lk__input {
      margin-bottom: 26px;
      &::placeholder {
        
        color: #78798A;
      }
    }
    .btn-yellow {
      margin-top: 6px;
    }
  }
  .scroll-element.scroll-x {
      display: none !important;
  }
  .scrollbar-inner > .scroll-element.scroll-y {
    width: 3px;
  }
  .scrollbar-inner > .scroll-element .scroll-bar {
    background: #000;
    opacity: 1;
    border-radius: 3px;
  }
  .scrollbar-inner > .scroll-element .scroll-element_track {
    background: #EBECEE;
    opacity: 1;
  }
  @media (max-width: $break_md) {
    &__quote {
      flex-wrap: wrap;
      p {
        margin-bottom: 16px;
      }
    }
    &__inputbtn {
      flex-wrap: wrap;
      .lk__input {
        width: 100%;
        margin-bottom: 16px;
      }
    }
    .btn-yellow {
      padding: 21px 60px;
      margin-left: 0;
    }
    &__popup {
      display: block;
      text-align: center;
    }
  }
  @media (max-width: $break_sm) {
    &__quote {
      padding: 8px;
      font-size: 13px;
      line-height: 15px;
      p {
        font-size: 13px;
        line-height: 15px;
      }
      a {
        padding: 15px;
        font-size: 13px;
        line-height: 16px;
      }
    }
    &__title {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 26px;
    }
    .btn-yellow {
      padding: 14px 30px;
    }
    &__popup {
      padding: 16px;
      font-size: 11px;
      line-height: 13px;
    }
    .lk__textarea {
      margin-top: 16px;
      margin-bottom: 16px;
    }
    &__date {
      margin-top: 48px;
      margin-bottom: 28px;
      font-size: 11px;
      span {
        padding: 0 8px;
        top: -6px;
      }
    }
    &__messages {
      max-height: 250px;
    }
    &__message {
      margin-bottom: 8px;
      span {
        max-width: none;
        padding: 12px 24px;
        font-size: 11px;
        line-height: 13px;
      }
      &--out {
        
      }
      &--in {
        padding-left: 0;
        padding-right: 12px;
        span {
          border-radius: 3px 0 3px 3px;
          &:after {
            left: auto;
            right: -12px;
            background: linear-gradient(to right bottom, #FFEAC2 50%, #fff 51%);
          }
        }
      }
    }
    &__container {
      .lk__input {
        margin-bottom: 16px;
      }
      .btn-yellow  {
        margin-top: 0;
      }
    }
  }
  @media (max-width: $break_xs) {
    &__quote {
      a {
        display: block;
        width: 100%;
        text-align: center;
      }
    }
  }
}